In [2]:
import pandas as pd
from pathlib import Path

In [3]:
#File to path
School_data = Path("Resources/schools_complete.csv")
Students_data = Path("Resources/students_complete.csv")

In [4]:
#Read school and student data file store in pandas dataframes
school_df = pd.read_csv(School_data)
students_df = pd.read_csv(Students_data)

In [5]:
#Combine the data into a single data set.
school_data_complete = pd.merge(students_df,school_df,how="left", on=["school_name","school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [6]:
#calculate the total number of unique schools
school_count=school_data_complete['school_name'].nunique()
school_count

15

In [7]:
#calculate the total number of students.
student_count = school_data_complete['student_name'].count()
student_count

39170

In [8]:
#calculate the total budget
#dropping the duplicate values of the data
unique_schools_budget = school_data_complete[['school_name', 'budget']].drop_duplicates()

total_budget = unique_schools_budget['budget'].sum()
total_budget

24649428

In [9]:
#calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [10]:
#calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [11]:
#% passing math (the percentage of students who passed math)

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [12]:
# % passing reading (the percentage of students who passed reading)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()
reading_percentage = passing_reading_count / float(student_count) * 100
percentage_value = reading_percentage.values[0]
print(percentage_value)

85.80546336482001

In [13]:
#% overall passing (the percentage of students who passed math AND reading)


passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [14]:
#Creating a high-level snapshot of the district's key metrics in a Dataframe
district_summary = pd.DataFrame({"Toal Schools" :[15],
                                 "Total Students": [39170],
                                "Total Budget": [24649428],
                                "Average Math Score": [78.98537145774827],
                                "Average Reading Score": [81.87784018381414], 
                                "% Passing Math" : [74.9808526933878],
                                "% Passing Reading" : [85.80546336482001], 
                                "% Overall Passing Rate" : [65.17232575950983]
                                })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Toal Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [15]:
#School Summary
#School name
school_names = school_data_complete["school_name"].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [16]:
#School type
school_types = school_data_complete[["school_name", "type"]]
per_school_types = school_types.drop_duplicates()
per_school_types

                 school_name      type
0          Huang High School  District
2917    Figueroa High School  District
5866     Shelton High School   Charter
7627   Hernandez High School  District
12262    Griffin High School   Charter
13730     Wilson High School   Charter
16013    Cabrera High School   Charter
17871     Bailey High School  District
22847     Holden High School   Charter
23274       Pena High School   Charter
24236     Wright High School   Charter
26036  Rodriguez High School  District
30035    Johnson High School  District
34796       Ford High School  District
37535     Thomas High School   Charter

In [17]:
#calculating the total students count per school

per_school_counts = school_data_complete.groupby('school_name')['student_name'].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [18]:
#Calculating the total budget and per capita spending per school from school_data
school_budgets = school_data_complete.drop_duplicates(subset=['school_name'])[['school_name', 'budget']]
per_school_budget = school_budgets.set_index('school_name')['budget']
print(per_school_budget)

per_school_capita = per_school_budget/per_school_counts
per_capita_spending = per_school_capita.map("${:,.2f}".format)
print(per_capita_spending)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64
school_name
Bailey High School       $628.00
Cabrera High School      $582.00
Figueroa High School     $639.00
Ford High School         $644.00
Griffin High School      $625.00
Hernandez High School    $652.00
Holden High School       $581.00
Huang High School        $655.00
Johnson High School      $650.00
Pena High School         $609.00
Rodriguez High School    $637.00
Shelton High School      $600.00
Thomas High School       $638.00
Wilson High School       $578.00
Wright High School       $583.00
dtype: object

In [19]:
#Calculate the average test scores perschool
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
print(per_school_math)
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
#calculate the number of students per school with math scores of 70 or higher from
#school_data_complete
students_passing_math = school_data_complete[school_data_complete['math_score']>=70]
school_passing_math = students_passing_math.groupby('school_name')['student_name'].count()
school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [21]:
#calculate the number of students per school with reading score of 70 or higher
students_passing_read = school_data_complete[school_data_complete['reading_score']>=70]
ps_passing_reading = students_passing_read.groupby('school_name')['student_name'].count()
ps_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [22]:
#calculate the number of students perschool taht passed both math and reading with scores of 70 or above
students_passing_math_and_reading= school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [23]:
#calculate the passing rates
per_school_passing_math = school_passing_math / per_school_counts * 100
per_school_passing_reading = ps_passing_reading/ per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
print(overall_passing_rate)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [24]:
print("Length of school_types:", len(unique_school_types))
print("Length of per_school_counts:", len(per_school_counts))
print("Length of per_school_budget:", len(per_school_budget))
print("Per Student Budget:", len(per_capita_spending))

print("Average Math Score:", len(per_school_math))
print("Average Reading Score:", len(per_school_reading))
print("% Passing Math:", len(per_school_passing_math))
print("% Passing Reading:", len(per_school_passing_reading))
print("% Overall Passing:", len(overall_passing_rate))

NameError: name 'unique_school_types' is not defined

In [25]:
#create a dataframe called Per_school_summary with columns for the the calculation above
# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame({
    "School Type": per_school_types,  # Correctly use the variable name
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_capita_spending,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

# Formatting columns with currency style
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Displaying the DataFrame
per_school_summary

ValueError: 2

Highest-Performing Schools(by % OVerall Passing)

In [ ]:
per_school_summary['% Overall Passing'] = (per_school_summary['% Passing Math'] + per_school_summary['% Passing Reading']) / 2
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

# Display the top 5 schools
top_schools.head(5)

Bottom Performing Schools (By % Overall Passing)

In [ ]:
#sort the schools by % Overall Passing in ascending order and display the top 5rows.
Bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)
Bottom_schools.head(5)

Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twel# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade
th_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelth_grader_math_scores =